.cardBox {
  z-index: 0;
}

.card, .card * {
  --card-aspect: 0.718;
  --card-radius: 4.55% / 3.5%;
  --card-edge: hsl(47, 100%, 78%);
  --card-back: hsl(205, 100%, 25%);
  --card-glow: hsl(175, 100%, 90%);
}

.card,
.card * {
  outline: 1px solid transparent;
}

.card .card__translater,
.card .card__rotator,
.card .card__shine,
.card .card__glare {
  transition: all 0.3s ease;
}

.card.water *       { --card-glow: hsl(192, 97%,  60%); }
.card.fire *        { --card-glow: hsl(9,   81%,  59%); }
.card.grass *       { --card-glow: hsl(96,  81%,  65%); }
.card.lightning *   { --card-glow: hsl(54,  87%,  63%); }
.card.psychic *     { --card-glow: hsl(281, 62%,  58%); }
.card.fighting *    { --card-glow: rgb(145, 90, 39); }
.card.darkness *    { --card-glow: hsl(189, 77%,  27%); }
.card.metal *       { --card-glow: hsl(184, 20%,  70%); }
.card.dragon *      { --card-glow: hsl(51, 60%, 35%); }
.card.fairy *       { --card-glow: hsl(323, 100%, 89%); }

.card,
.card__rotator {
  aspect-ratio: var(--card-aspect);
  border-radius: var(--card-radius);
}

.card .card__translater,
.card .card__rotator {
  touch-action: none;
}

.card__translater,
.card__rotator {
  display: grid;
  perspective: 600px;
  transform-origin: center;
  -webkit-transform-origin: center;
}

button.card__rotator {
  border: none;
  background: transparent;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
}

.card__rotator,
.card .card__rotator:focus {
  transition: box-shadow 0.4s ease, opacity .33s ease-out;
  box-shadow: 
    0 0 3px -1px transparent, 
    0 0 2px 1px transparent, 
    0 0 5px 0px transparent,
    0px 10px 20px -5px black, 
    0 2px 15px -5px black,
    0 0 20px 0px transparent;
}

.card .card__rotator:focus {
  box-shadow: 
    0 0 3px -1px white, 
    0 0 3px 1px var(--card-edge), 
    0 0 12px 2px var(--card-glow), 
    0px 10px 20px -5px black, 
    0 0 40px -30px var(--card-glow), 
    0 0 50px -20px var(--card-glow)
}

.card__rotator * {
  width: 100%;
  display: grid;
  grid-area: 1/1;
  aspect-ratio: var(--card-aspect);
  border-radius: var(--card-radius);
  image-rendering: optimizeQuality;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  pointer-events: none;
  overflow: hidden;
}

.card__rotator img {
  height: auto;
  -webkit-transform: translate3d(0px, 0px, 0.01px);
  transform: translate3d(0px, 0px, 0.01px);
}

.card__front,
.card__front * {
  backface-visibility: hidden;
}